<app-navbar [loggedUser]="loggedUser" [isFavorites]="false" (onLogin)="goLogin()" (onRegister)="goRegister()"
    (onFavorites)="goFavorites()" (onLogout)="logout()">
</app-navbar>

<div class="home-container">
    <div class="page-header">
        <h1 class="page-title">Przeglądaj bestsellery Amazona z kategorii Software</h1>
        <p class="page-subtitle">Odkryj najpopularniejsze i najlepiej oceniane programy</p>
    </div>

    <div class="product-grid-wrapper">
        <app-product-list [products]="products()" [favoriteAsins]="favoritesService.favoriteAsins()"
            [isLoadingFavorite]="favoritesService.isLoadingFavorite()" [loggedUser]="loggedUser" [error]="error"
            (toggleFavoriteAction)="favoritesService.toggleFavorite($event)">
        </app-product-list>
    </div>
</div>