:host {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: block;
}

.toolbar-title {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--p-primary-color);

    i {
        font-size: 1.5rem;
    }
}

.navbar-logo {
    height: 45px;
    width: auto;
    object-fit: contain;
    padding: 2px 0;
    cursor: pointer;
}

.toolbar-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-greeting {
    margin-right: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

:host ::ng-deep {
    .p-toolbar {
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
    }
}
